<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assimp" version="3.0.0" targetFramework="native" />
  <package id="Assimp.redist" version="3.0.0" targetFramework="native" />
  <package id="assimp_native" version="4.0.1" targetFramework="native" />
  <package id="assimp_native.redist" version="4.0.1" targetFramework="native" />
  <package id="boost" version="1.81.0" targetFramework="native" />
  <package id="boost_zlib-vc140" version="1.81.0" targetFramework="native" />
  <package id="WinPixEventRuntime" version="1.0.230302001" targetFramework="native" />
  <package id="zlib-msvc-x64" version="1.2.11.8900" targetFramework="native" />
  <package id="zlib-vc140-static-64" version="1.2.11" targetFramework="native" />
</packages>